/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Teko&display=swap');

/* Icon */

@import url('https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css');

@import url('./reset.css');


:root {
    --primary-color: #03A84E;
    --white-color: #fff;
    --black-color: #222;
    --border-color: #999999;

    --p-color: #656565;

    --jost: 'jost';

    --fs-50: 50px;
    --fs-40: 40px;
    --fs-35: 35px;
    --fs-30: 30px;
    --fs-25: 25px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;

    --border-2: 2px;
}

body {
    font-family: var(--jost);
    color: var(--p-color);
}

.primary-c {
    color: var(--primary-color);
    font-weight: 700;
}

.section-bg {
    background-color: #f9fcfa;
}

.h1 {
    font-size: var(--fs-50);
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-color: #fff;
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-radius: 0;
}


.theme-btn {
    display: inline-block;
    font-weight: 600;
    color: var(--white-color);
    border-radius: var(--border-2);
    position: relative;
    box-shadow: none;
    outline: none;
    z-index: 2;
    font-size: 14px;
    letter-spacing: .28px;
    text-align: center;
    transition: all .2s linear;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--primary-color);
    min-width: 110px;
    min-height: 40px;
    padding: 0 15px;

}


.section-title {}

.section-title .h2 {
    padding-bottom: 10px;
}

.section-title p {
    font-size: 18px;
}

/* Navbar */
.topNav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.topNav li a {
    color: var(--white-color);
}

.MenuList {
    gap: 10px;
}

.menu-login-btn {}

.menu-login-btn .theme-btn span {
    font-size: 20px;
}


.topNav .nav-link:focus,
.topNav .nav-link:hover {
    color: var(--primary-color);
}

.topNav .nav-link {
    font-size: var(--fs-18);
    font-weight: 500;
}


/* Banner */
.banner-area {
    background: url(../img/banner-bg.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.banner-content {
    padding-top: 80px;
}

.banner-content p {
    padding: 15px 0 40px;
}

.banner-form {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 15px;
}

.banner-form .toggle {
    background-color: var(--primary-color);
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 30px;
    border-radius: var(--border-2);
}


.banner-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60px;
    gap: 10px;
}

.banner-search-form input,
.banner-search-form select {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    min-width: 270px;
    outline: none !important;
    box-shadow: none !important;
    color: var(--black-color);
}

.banner-search-form .theme-btn {
    font-size: var(--fs-20);
    min-width: auto;
}

.banner-search-form input::placeholder {
    color: var(--black-color);
}

/* Range */

.banner-range {
    position: relative;
}

#toggleInfo {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    border-radius: var(--border-2);
    border: 1px solid var(--primary-color);
}

.rang-cont {
    display: grid;
    gap: 16px
}

.range-item {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
}

.range-title {
    display: grid;
}

.range-title .h5 {
    font-size: 15px;
    display: grid;
    align-items: center;
}

.range-wrap {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.range-wrap span {
    margin-left: auto;
}


.range-item select {
    background-position-x: 98%;
}

.range-item span {
    font-weight: 500;
}

.range[type=range],
.range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.range[type=range] {
    background-color: var(--primary-color);
    height: 5px;
    align-self: center;
}

/* .range::-moz-range-thumb, */
.range[type=range]::-webkit-slider-thumb {
    background-color: var(--primary-color);
    width: 8px;
    height: 15px;
    border-radius: var(--border-2);
    cursor: pointer;
}



/* Candidate */
.top-candidate-area {}

.candidates-item-list {}


.candidates-filter {
    display: inline-flex;
    gap: 15px;
}

.candidates-filter li {
    display: -inlinegrid;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.candidates-filter li.active {
    color: var(--white-color);
    background: var(--primary-color);
}

.candidates-grid {}

.candidates-item {
    margin-top: 25px;
    border: 1px solid var(--border-color);
    gap: 20px;
    padding: 20px;
    position: relative;
}

.candidates-number {
    position: absolute;
    background: var(--primary-color);
    color: var(--white-color);
    min-width: 35px;
    font-size: 14px;
    height: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.candidates-item .rating {
    position: absolute;
    right: 21px;
    top: 20px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0 10px;
}

.candidates-text {
    display: grid;
}

.candidates-text .h6 {
    font-size: 15px;
    color: var(--primary-color);
}

.candidates-item .rating span {
    /* color: var(--white-color); */
}

.candidates-text .biew-btn {
    color: var(--primary-color);
}

.expertise ul {}

.expertise ul li {
    display: inline-block;
    border: 1px solid var(--border-color);
    color: var(--p-color);
    padding: 2px 7px;
    margin: 2px 0;
    font-size: 14px;
}

/* top-list-content */

.top-list-content {}

.topList-bar,
.topList-item {
    display: grid;
    grid-template-columns: 20% 30% 1fr;
}

.topList-bar {
    background-color: var(--black-color);

}

.topList-bar li {
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    padding: 11px 5px;
}

.topList-bar li,
.topList-item li {
    position: relative;
}

.topList-bar>li::after,
.topList-item>li::after {
    content: '';
    width: 1px;
    height: 60%;
    background-color: var(--border-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.topList-bar>li:last-child::after,
.topList-item>li:last-child::after {
    display: none;
}

.topList-item>li::after {
    background-color: #cbcbcb;
}

.topList-item {
    border: 1px solid var(--border-color);
    margin: 15px 0;
    padding: 15px 0;
}

.topList-item li {
    display: grid;
    align-items: center;
    justify-content: center;
}


.topList-item .skill-badges ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.topList-item .skill-badges ul li {
    display: inline-block;
}

.topList-item .skill-badges ul img {
    width: 45px;
    height: 45px;
    border: 1px solid var(--border-color);
    padding: 6px;
}

.topList-item .number {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.topList-item .imag {
    display: grid;
    align-items: center;
    justify-content: center;
}

.topList-item .imag img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.topList-item .experience {
    font-weight: 500;
    color: var(--black-color);
    font-size: var(--fs-16);
    text-transform: uppercase;
}

.topList-item .exp {
    margin-top: 5px;
}

.topList-item .exp li {
    display: inline-block;
}

.topList-item .exp li img {
    width: 25px;
    height: 25px;
    background: #cccccc45;
    padding: 2px;
}

.candidate-li {
    display: grid;
    gap: 15px;
}

.candidate-li li {}

.candidate-li li a {
    border: 1px solid var(--border-color);
    display: block;
    text-transform: capitalize;
    font-size: var(--fs-16);
    font-weight: 600;
    color: var(--black-color);
    padding: 12px 15px;
    text-align: center;
    transition: all .3s;
}

.candidate-li li a:hover,
.candidate-li li a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.candidate-title {
    background-color: var(--black-color);
    height: 52px;
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    display: grid;
    align-content: center;
    margin-bottom: 15px;
}

.candidate-li .btn-browser {}

.candidate-li .btn-browser i {
    padding-left: 10px;
}


.browse-jobs-item {}

.browse-jobs-item .topList-bar,
.browse-jobs-item .topList-item {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
}

.browse-jobs-item .action-badges {
    display: grid;
    gap: 10px;
}

.browse-jobs-item .action-badges li {}

.browse-jobs-item .action-badges li a {
    min-width: 150px;
    height: 40px;
    border: 1px solid var(--border-color);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-16);
    font-weight: 500;
    color: var(--black-color);
    transition: all .3s;
}

.browse-jobs-item .action-badges li a:hover,
.browse-jobs-item .action-badges .apply-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.loca-dot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.loca-dot i {
    color: var(--primary-color);
}

.browse-jobs-item .topList-item li:nth-child(2) {
    justify-content: flex-start;
    padding: 2px 35px;
}