/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Teko&display=swap');

/* Icon */

@import url('https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css');

@import url('./reset.css');

@font-face {
    font-family: ProximaNova-Regular;
    src: url(../proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: ProximaNova-Extrabold;
    src: url(../proxima_ssv/ProximaNova-Extrabold.otf);
}

@font-face {
    font-family: ProximaNova-Bold;
    src: url(../proxima_ssv/ProximaNova-Bold.otf);
}

@font-face {
    font-family: ProximaNova-Black;
    src: url(../proxima_ssv/ProximaNova-Black.otf);
}

:root {
    --primary-color: #4532C4;
    --white-color: #fff;
    --black-color: #222;
    --border-color: #999999;

    --p-color: #656565;

    --jost: 'jost';
    --proxima-regular: 'ProximaNova-Regular';
    --proxima-extrabold: 'ProximaNova-Extrabold';
    --proxima-bold: 'ProximaNova-Bold';
    --proxima-black: 'ProximaNova-Black';

    --fs-50: 50px;
    --fs-40: 40px;
    --fs-35: 35px;
    --fs-30: 30px;
    --fs-25: 25px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;

    --border-2: 2px;
}

body {
    font-family: var(--proxima-regular);
    color: var(--p-color);
}

.primary-c {
    color: var(--primary-color);
    font-weight: 700;
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.section-bg {
    background-color: #EBEBFF;
}

.h1 {
    font-size: var(--fs-50);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: var(--proxima-extrabold);
}

h1,
.h1,
h2,
.h2 {
    font-family: var(--proxima-black);
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-color: #fff;
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-radius: 0;
}


.theme-btn {
    display: inline-block;
    font-weight: 600;
    color: var(--white-color);
    border-radius: var(--border-2);
    position: relative;
    box-shadow: none;
    outline: none;
    z-index: 2;
    font-size: 16px;
    letter-spacing: .28px;
    text-align: center;
    transition: all .2s linear;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--primary-color);
    min-width: 110px;
    min-height: 40px;
    padding: 0 15px;

}

.btn-md {
    min-width: 200px;
    min-height: 60px;
}

.section-title {}

.section-title .h2 {
    padding-bottom: 10px;
}

.section-title p {
    font-size: 18px;
}

/* Navbar */
.topNav { 
    border-bottom: 1px solid rgba(69, 50, 196, 0.164);
}

.topNav li a {
    /* color: var(--white-color); */
    font-family: var(--proxima-extrabold);
    font-size: 18px;
    color: var(--primary-color);
}

.MenuList {
    gap: 10px;
}

.menu-login-btn {}

.menu-login-btn .theme-btn span {
    font-size: 20px;
}


.topNav .nav-link:focus,
.topNav .nav-link:hover {
    color: var(--primary-color);
}

.topNav .nav-link {
    font-size: var(--fs-18);
    font-weight: 500;
}

.menuBlack li a {
    color: var(--black-color);
}


/* Banner */
.banner-area {
    /* background: url(../img/banner-bg.webp) no-repeat center;
    background-size: cover; */
    height: 80vh;
    display: grid;
    align-items: center; 
}

.banner-content {
    padding-top: 35px;
}

.banner-content p {
    padding: 15px 0 40px;
}

.banner-form {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 15px;
}

.banner-form .toggle {
    background-color: var(--primary-color);
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 30px;
    border-radius: var(--border-2);
}


.banner-search-form {
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 10px;
}

.banner-search-form input,
.banner-search-form select {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    /* min-width: 270px; */
    outline: none !important;
    box-shadow: none !important;
    color: var(--black-color);
    border: 1px solid #eee;
    border-radius: var(--border-2);
}

.banner-search-form .theme-btn {
    font-size: var(--fs-20);
    min-width: auto;
}

.banner-search-form input::placeholder {
    color: var(--black-color);
}

/* Range */

.banner-range {
    position: relative;
}

#toggleInfo {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    border-radius: var(--border-2);
    border: 1px solid var(--primary-color);
    z-index: 1;
}

.rang-cont {
    display: grid;
    gap: 16px
}

.range-item {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
}

.range-title {
    display: grid;
}

.range-title .h5 {
    font-size: 15px;
    display: grid;
    align-items: center;
}

.range-wrap {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.range-wrap span {
    margin-left: auto;
}


.range-item select {
    background-position-x: 98%;
}

.range-item span {
    font-weight: 500;
}

.range[type=range],
.range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.range[type=range] {
    background-color: var(--primary-color);
    height: 5px;
    align-self: center;
}

/* .range::-moz-range-thumb, */
.range[type=range]::-webkit-slider-thumb {
    background-color: var(--primary-color);
    width: 8px;
    height: 15px;
    border-radius: var(--border-2);
    cursor: pointer;
}



/* Candidate */
.top-candidate-area {}

.candidates-item-list {}


.candidates-filter {
    display: inline-flex;
    gap: 15px;
}

.candidates-filter li {
    display: -inlinegrid;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.candidates-filter li.active {
    color: var(--white-color);
    background: var(--primary-color);
}

.candidates-grid {}

.candidates-item {
    margin-top: 25px;
    border: 1px solid var(--border-color);
    gap: 20px;
    padding: 20px;
    position: relative;
}

.candidates-number {
    position: absolute;
    background: var(--primary-color);
    color: var(--white-color);
    min-width: 35px;
    font-size: 14px;
    height: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.candidates-item .rating {
    position: absolute;
    right: 21px;
    top: 20px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0 10px;
}

.candidates-text {
    display: grid;
}

.candidates-text .h6 {
    font-size: 15px;
    color: var(--primary-color);
}

.candidates-item .rating span {
    /* color: var(--white-color); */
}

.candidates-text .biew-btn {
    color: var(--primary-color);
}

.expertise ul {}

.expertise ul li {
    display: inline-block;
    border: 1px solid var(--border-color);
    color: var(--p-color);
    padding: 2px 7px;
    margin: 2px 0;
    font-size: 14px;
}

/* top-list-content */

.top-list-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.topList-bar,
.topList-item {
    display: grid;
    grid-template-columns: 20% 30% 1fr;
}

.topList-bar {
    background-color: var(--black-color);

}

.topList-bar li {
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    padding: 11px 5px;
}

.topList-bar li,
.topList-item li {
    position: relative;
}



.topList-item {
    border: 1px solid #eee;
    padding: 30px;

}

.topList-item li {
    display: grid;
    justify-content: center;
}

ul.topList-item li img {
    width: 65px;
    height: auto;
}

.topList-item .skill-badges ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.topList-item .skill-badges ul li {
    display: inline-block;
}

.topList-item .skill-badges ul img {
    width: 45px;
    height: 45px;
    border: 1px solid var(--border-color);
    padding: 6px;
}

.topList-item .number {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.topList-item .imag {
    display: grid;
    align-items: center;
    justify-content: center;
}

.topList-item .imag img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.topList-item .experience {
    font-weight: 500;
    color: var(--black-color);
    font-size: var(--fs-16);
    text-transform: uppercase;
}

.topList-item .exp {
    margin-top: 5px;
}

.topList-item .exp li {
    display: inline-block;
}

.topList-item .exp li img {
    width: 25px;
    height: 25px;
    background: #cccccc45;
    padding: 2px;
}

.candidate-li {
    display: grid;
    gap: 15px;
}

.candidate-li li {}

.candidate-li li a {
    border: 1px solid var(--border-color);
    display: block;
    text-transform: capitalize;
    font-size: var(--fs-16);
    font-weight: 600;
    color: var(--black-color);
    padding: 12px 15px;
    text-align: center;
    transition: all .3s;
}

.candidate-li li a:hover,
.candidate-li li a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.candidate-title {
    background-color: var(--black-color);
    height: 52px;
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    display: grid;
    align-content: center;
    margin-bottom: 15px;
}

.candidate-li .btn-browser {}

.candidate-li .btn-browser i {
    padding-left: 10px;
}


.browse-jobs-item {}

.browse-jobs-item .topList-item {
    display: grid;
    grid-template-columns: 75px 1fr;
    border-radius: var(--border-2);
}

.browse-jobs-item .action-badges {
    display: grid;
    gap: 10px;
}

.browse-jobs-item .action-badges li {}

.browse-jobs-item .action-badges li a.color-2 {
    background-color: var(--black-color);
}

.browse-jobs-item .action-badges li a {
    min-width: 150px;
    height: 40px;
    border: 1px solid var(--border-color);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-16);
    font-weight: 500;
    color: var(--black-color);
    transition: all .3s;
    border-radius: var(--border-2);
}

.browse-jobs-item .action-badges li a:hover,
.browse-jobs-item .action-badges .apply-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.loca-dot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 4px;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
}

.loca-dot i {
    color: var(--black-color)
}

.browse-jobs-item .topList-item li:nth-child(2) {
    justify-content: flex-start;
    padding: 2px 15px;
}

span.loca-dot span {
    /* background: #fff; */
    /* border: 1px solid #ace1c4; */
    font-size: 14px;
    /* min-width: 100px; */
    padding: 2px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: var(--border-2);
    margin-right: 5px;
    font-weight: 600;
}

span.loca-dot span.price {
    font-weight: 500 !important;
}

a.details-heart {
    position: absolute;
    right:3px;
    top: 3px;

}

a.details-heart i {
    font-weight: 400;
    color: var(--black-color)
}

.topList-item b {
    color: var(--black-color);
    font-size: 19px;
}

.details {
    font-size: 17px;
    margin-top: -10px;
}

.details p {
    color: var(--primary-color);
    padding: 4px 0 2px;
}

.jobT {
    /* border: 1px solid #03A84E; */
    font-size: 15px;
    font-weight: bold;
    padding: 2px 12px;
    color: var(--black-color);
    text-align: center;
}

.jobpart {
    background-color: #c2ffdc;
}

.jobFull {
    background-color: #d9dfff;
    border-color: #4133ff;
}

.jobInter {
    background-color: #ffd7d7;
    border-color: #ff5e5e;
}

.job-spotlight {
    background: #fff;
    border: 1px solid #eee;
}

.job-spotlight .title {
    background-color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    padding: 11px 20px;
    color: var(--white-color);
    text-align: center;
}

.spotlight-item {
    text-align: center;
    padding: 25px 15px;
}

.spotlight-item .img {
    background-color: #eee;
    width: 130px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.spotlight-item .img img {
    margin: 0 auto;
    width: 100% !important;
}

.spotlight-item .details b {
    color: var(--black-color);
}

.spotlight-item {}

.spotlight-slid .owl-nav {
    margin-top: 0;
    position: absolute;
    top: -14%;
    right: 10px;
}

.spotlight-slid .owl-nav [class*=owl-] {
    color: var(--white-color) !important;
    background: none !important;
}

.spotlight-btn {
    padding-top: 10px;
}

.spotlight-btn .apply-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-2);
    padding: 4px 13px;
    display: inline-block;
    font-size: 15px;
}

.top-hiring-slid {}

.top-hiring-item {
    background-color: var(--white-color);
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #eee;
    border-bottom: 3px solid var(--primary-color);
}

.top-hiring-item img {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.top-hiring-item .h5 {}

.top-hiring-item .h6 {
    color: var(--p-color);
    font-size: 15px;
}

.top-hiring-item span {}

.top-hiring-item .btn {
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
    margin-top: 20px;
    font-size: 14px;
}

.top-hiring-item .btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.all-jobs-select{
    float: right;
}
.all-jobs-select .form-select {
    border-radius: var(--border-2);
    min-width: 200px;
    padding: 12px 15px;
    font-size: 16px;
    font-family: var(--proxima-extrabold); 
    border: 2px solid var(--black-color);
}
.all-jobs-select .form-select option {
    min-height: 1.2em;
}

/* hr Solution */

.hr-solutions-area {
    position: relative;
    z-index: 1;
}

.hr-solutions-area::after {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 189px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.hr-solution-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.hr-solutions-item {
    border: 1px solid #eee;
    /* border-left: 3
px
 solid var(--primary-color); */
    background-color: var(--white-color);
    padding: 10px;
    margin-top: 30px;
    transition: all .3s linear;
    position: relative;
    min-height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.hr-solutions-item::after {
    content: '\f061';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #000;
}

.hr-solutions-item:last-child:after {
    display: none;
}

.hr-solutions-item:hover {
    /* background-color: rgb(247, 247, 247); */
    /* transform: translateY(-5px); */
    box-shadow: 0px 0px 5px 0px rgba(39, 39, 39, 0.3);
}

.hr-solutions-item:first-child {
    /* border: 1px solid #eee; */
}

.hr-solutions-item i {
    font-size: 40px;
    color: var(--primary-color)
}

.hr-solutions-item .h5 {
    padding: 15px 0;
    font-size: var(--fs-18);
}

.hr-solutions-item p {}

.career-advice-area {
    /* background-color: #82D296; */
}


.adviceContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.adviceItem {
    background-color: var(--white-color);
}

.adviceItem img {}

.adviceItem p {}


.skill-development-area {}

.skill-development-img {}

.skill-development-img img {}

.skill-development-text {}

.skill-development-text .h1 {}

.skill-development-text .h5 {}

.skill-dropdown {}

.skill-dropdown button {
    text-align: left;
    padding: 15px 20px;
    border: 1px solid var(--black-color);
    background: no-repeat;
    color: var(--black-color);
    font-weight: 500;
    font-size: 22px;
}

.skill-dropdown button,
.skill-dropdown .dropdown-menu {
    width: 270px;
}

.skill-dropdown .dropdown-menu {
    height: 310px;
    overflow: hidden;
    overflow-y: scroll;
}

.skill-dropdown li a {
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.skill-dropdown li span {
    display: block;
}

.skill-dropdown li .header {
    font-weight: 600;
}

.footer-widget-area {
    background-color: var(--black-color);
}

.footer-widget-content {
    display: grid;
    grid-template-columns: 28% 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.footer-widget-item:first-child {}

.footer-widget-item {}

.footer-widget-item p {
    color: var(--white-color);
}

.footer-widget-item .title {
    color: var(--white-color);
    font-weight: 500;
    padding-bottom: 30px;
}

.footer-widget-item ul {
    display: grid;
    gap: 10px;
}

.footer-widget-item li {}

.footer-widget-item li a {
    color: var(--white-color);
}

.footer-det {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-det-item {}

.footer-det-item:last-child {
    margin-left: auto;
}

.footer-det-item .title {
    color: var(--white-color);
    padding-bottom: 10px;
}

.footer-det-item li {
    display: inline-block;
}

.social-footer {
    display: flex;
    gap: 10px;
}

.social-footer li {}

.social-footer li a {
    background: #fff;
    width: 45px;
    height: 45px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--primary-color);
    transition: all .3s;
}

.social-footer li a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer-play {}

.footer-play li a {
    display: inline-block;
}

.footer-play li img {
    width: 150px;
    border: 1px solid var(--primary-color);
}

.copyright {
    background: #000;
    padding: 20px 0;
}

.copyright-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copyright-content p {
    color: var(--white-color);
}

.copyright-content ul {
    margin-left: auto;
    display: inline-flex;
    gap: 35px;
}

.copyright-content ul li {
    display: inline-block;
}

.copyright-content ul li a {
    color: var(--primary-color);
}

/* Jobs Company */

.inner-banner-area {
    background: url(../img/banner-bg.webp) no-repeat center;
    background-size: cover;
}

.manufacturing-jobs-area {}

.manufacturing-jobs-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.4vw;
}

.manufacturing-jobs-item {
    border: 1px solid #eee;
    box-shadow: rgb(33 33 33 / 10%) 0px 4px 9px;
    border-radius: var(--border-2);
    padding: 1.4vw;
    cursor: pointer;
    transition: all .3s;
}

.manufacturing-jobs-item:hover {
    box-shadow: rgb(33 33 33 / 25%) 0px 6px 10px;
}

.manufacturing-jobs-item .img {
    position: relative;
    min-width: 55px;
    height: 55px;
    display: inline-block;
    margin-bottom: 10px;
}

.manufacturing-jobs-item img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: left;
}

.manufacturing-jobs-item .title {}

.manufacturing-jobs-item .job-company {
    color: var(--primary-color);
    padding: 5px 0 4px;
}

.manufacturing-jobs-item .job-location {
    font-size: var(--fs-16);
    color: var(--p-color);
}

.manufacturing-jobs-item .job-company-footer {
    padding-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.manufacturing-jobs-item .job-company-footer {}

.manufacturing-jobs-item .job-company-footer .date {
    font-size: var(--fs-16);
    color: var(--p-color);
}

.manufacturing-jobs-item .job-company-footer .theme-btn {}

.pagination {}


.pagination .page-link {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: var(--fs-18);
    font-weight: 500;
    color: var(--black-color);
}

.pagination .page-link:focus,
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: none;
}

.manufacturing-all {
    display: grid;
    gap: 25px;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}


/* Chip List */

.chip-list-area {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.chip-list-content {}

.chip-list-content li {}

.chip-list-content li a {
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-2);
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .3s;
}

.chip-list-content li a.active,
.chip-list-content li a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.manufacturing-details {
    height: 100vh;
    overflow: hidden;
}

.manufacturing-details-header {
    border-radius: var(--border-2);
    border: 1px solid #eee;
    box-shadow: rgb(33 33 33 / 10%) 0px 4px 9px;
    padding: 1.4vw;
}

.descriptionstyles {
    background: #f9f9f9;
    padding: 25px;
    overflow-y: scroll;
    height: calc(100vh - 140px);
}

.descriptionstyles strong {
    font-weight: 600;
}

.descriptionstyles ul {
    margin: 12px 0;
    margin-left: 20px;
}

.descriptionstyles ul li {
    position: relative;
    display: flex;
    gap: 14px;
}

.descriptionstyles ul li::before {
    content: '\f111';
    font-family: "Font Awesome 6 free";
    font-weight: 700;
    font-size: 8px;
    margin-top: 5px;
    color: var(--primary-color);
}

.descriptionstyles a {
    color: var(--primary-color);
}

.leaderboard-area {}

.leaderboard-content {
    display: grid;
    gap: 20px;
}

.leaderboard-item {
    display: grid;
    grid-template-columns: 190px 1fr 150px 100px 100px;
    position: relative;
    border: 1px solid #eee;
    border-radius: var(--border-2);
    align-items: center;
    gap: 20px;
    background-color: #ECEFF3;
    padding-right: 20px;
}

.leaderboard-item .number {
    color: #c5c5c5;
}

.leaderboard-item .name {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 24px 12px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leaderboard-item .name::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 100%;
    right: 0;
    z-index: -1;

    background: rgb(204 204 204 / 50%);
}

.leaderboard-item .name img {
    width: 70px;
    border-radius: 100px;
    margin: 0 auto;
}

.leaderboard-item:nth-child(1) {
    background: rgba(255, 245, 155, 0.322);
}

.leaderboard-item:nth-child(1) .name::before {
    background: rgb(255, 220, 62);
}

.leaderboard-item:nth-child(1) .number {
    color: rgb(255, 208, 0);
}

.leaderboard-item:nth-child(2) {
    background: rgba(227, 255, 203, 0.5);
}

.leaderboard-item:nth-child(2) .name::before {
    background: rgb(185, 255, 139);
}

.leaderboard-item:nth-child(2) .number {
    color: rgb(102, 255, 0);
}

.leaderboard-item:nth-child(3) {
    background: rgba(193, 221, 248, 0.5);
}

.leaderboard-item:nth-child(3) .name::before {
    background: rgb(63, 143, 248);
}

.leaderboard-item:nth-child(3) .number {
    color: rgb(0, 110, 255);
}

.leaderboard-item .number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -90px;
    font-size: 95px;
    font-weight: 900;
    width: 100px;
    text-align: right;
    z-index: 11;
}



.leaderboard-item .user-name .h5 {
    font-weight: 900;
    font-size: var(--fs-25)
}

.leaderboard-item .text {
    text-align: center;
}

.leaderboard-item .text strong {
    font-size: var(--fs-30);
    color: var(--black-color);
}

.leaderboard-item .text span {
    color: var(--black-color);
    font-weight: 600;
}

.leaderboard-item .Featured-badge {
    justify-content: center;
    align-items: center;
    display: grid;
}

.leaderboard-item .Featured-badge img {
    width: 50px;
}

.leaderboard-item .reward {
    justify-content: center;
    align-items: center;
    display: grid;
}

.leaderboard-item .reward img {}

.leaderboard-item .reward-win i {
    color: rgb(0, 17, 255);
}

.leaderboard-item .reward-win {
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    color: var(--black-color);
}

.achievers-banner-area {
    background: #eee;
}

.achievers-leaderboard {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.achievers-leaderboard .h2 {
    color: var(--black-color);
    font-size: var(--fs-50);
    font-weight: 700;
}

.achievers-leaderboard img {}

.leader-item-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.leader-item:nth-child(2) {
    margin-top: 40px;
}

.leader-item:nth-child(3) {
    margin-top: 80px;
}

.leader-item {
    border-radius: var(--border-2);
    max-height: 267px;
    position: relative;
}

.leader-item img {
    border-radius: 100px;
    margin: 0 auto;
}

.leader-item .number {
    background-color: #00a2e262;
    display: inline-block;
    color: #000;
    padding: 2px 15px;
    border-radius: var(--border-2);
}

.leader-item .reward-win {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-color);
}

.leader-home .theme-btn {
    background-color: #fff;
    color: var(--primary-color); 
    font-size: var(--fs-20);
}

.leader-item .award {
    position: absolute;
    left: 0;
    top: 0;
}

.leader-item .award img {
    margin: 0;
    width: 39px !important;
}

.finest-companies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.finest-companies-item {
    background: #fff;
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.finest-companies-item img {
    filter: grayscale(1);
    transition: all .3s;
}

.finest-companies-item:hover img {
    filter: grayscale(0);
}


.how-it-work-content {}

.how-it-work-item {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 30px;
    border-bottom: 4px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
    padding: 30px;
    position: relative;

}

.how-it-work-img img {
    width: 100%;
}

.how-it-work-item:nth-child(even) {
    border-right: 4px solid var(--primary-color);
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.how-it-work-item:nth-child(odd) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.how-it-work-item:last-child {
    border-bottom: 0;
}

.how-it-work-item:nth-child(even) .how-it-work-text {
    order: 1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.how-it-work-text {}

.how-it-work-text .h2 {
    font-weight: 600;
    padding-bottom: 20px;
}

.how-it-work-item .number {
    position: absolute;
    left: -37px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background: var(--primary-color);
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.how-it-work-item:nth-child(odd) .how-it-work-text {
    padding-left: 30px;
}

.how-it-work-item:nth-child(even) .how-it-work-text {
    padding-right: 60px;
}

.how-it-work-item:nth-child(even) .number {
    left: auto;
    right: -37px;
}